In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('combined_file.csv')

In [3]:
data.head()

,Name,Date,Open,High,Low,Close,Adj Close,Volume
0,AMZN,7/30/18,91.366501,91.474998,88.301003,88.960999,88.960999,131246000
1,AMZN,7/31/18,89.324501,90.091499,86.966003,88.872002,88.872002,114774000
2,AMZN,8/1/18,89.199997,89.921997,88.801003,89.858498,89.858498,83062000
3,AMZN,8/2/18,89.438499,91.828003,89.300003,91.716499,91.716499,87094000
4,AMZN,8/3/18,91.887001,92.050003,91.074997,91.164497,91.164497,69210000

In [4]:
data.shape

(8812, 8)

In [5]:
data.isnull().sum()

Name         0
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [9]:
data['Name'].value_counts()

AMZN    1258
META    1258
NVDA    1258
MSFT    1258
GOOG    1258
NFLX    1258
AAPL    1258
Name       6
Name: Name, dtype: int64

In [10]:
data = data[~data['Name'].isin(['Name'])]

In [11]:
data.to_csv('data.csv', index=False)